.bubble {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  margin: 12px;
  background-image: linear-gradient(
    145deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  animation: bounce 1.5s 0.5s linear infinite;
}
.bubble.yellow {
  background-color: #feb60a;
}

.bubble.red {
  background-color: #9c0000;
  animation-delay: 0.1s;
}

.bubble.blue {
  background-color: #00dbf9;
  animation-delay: 0.2s;
}

.bubble.violet {
  background-color: #da00f7;
  animation-delay: 0.3s;
}

@keyframes bounce {
  0%,
  50%,
  100% {
    transform: scale(1);
    filter: blur(0px);
  }
  25% {
    transform: scale(0.6);
    filter: blur(1px);
  }
  75% {
    filter: blur(1px);
    transform: scale(1.4);
  }
}
