.bubble {
  width: 9px;
  height: 9px;
  border-radius: 100%;
  margin: 12px;
  background-image: linear-gradient(
    145deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  animation: bounce 1.5s 0.5s linear infinite;
}

.bubble.yellow {
  background-color: #feb60a;
  animation-delay: 1.3s;
}

.bubble.red {
  background-color: #9c0000;
  animation-delay: 0.2s;
}

.bubble.blue {
  background-color: #00dbf9;
  animation-delay: 0.4s;
}

.bubble.violet {
  background-color: #da00f7;
  animation-delay: 0.6s;
}

@keyframes bounce {
  0% {
    transform: scale(1);
    filter: blur(0px);
  }
  50% {
    transform: scale(2.5);
    filter: blur(0.6px);
  }
  100% {
    filter: blur(0px);
    transform: scale(1);
  }
}
